<div id="<%= dom_id workorder %>">
  <p>
    <strong>External:</strong>
    <%= workorder.external_id %>
  </p>

  <p>
    <strong>Workorderno:</strong>
    <%= workorder.WorkorderNo %>
  </p>

  <p>
    <strong>Ordernr:</strong>
    <%= workorder.OrderNr %>
  </p>

  <p>
    <strong>Workdate:</strong>
    <%= workorder.WorkDate %>
  </p>

  <p>
    <strong>Worktime:</strong>
    <%= workorder.WorkTime %>
  </p>

  <p>
    <strong>Workenddate:</strong>
    <%= workorder.WorkEndDate %>
  </p>

  <p>
    <strong>Workendtime:</strong>
    <%= workorder.WorkEndTime %>
  </p>

  <p>
    <strong>Projectnr:</strong>
    <%= workorder.ProjectNr %>
  </p>

  <p>
    <strong>Externprojectnr:</strong>
    <%= workorder.ExternProjectNr %>
  </p>

  <p>
    <strong>Customername:</strong>
    <%= workorder.CustomerName %>
  </p>

  <p>
    <strong>Customerdebtornr:</strong>
    <%= workorder.CustomerDebtorNr %>
  </p>

  <p>
    <strong>Customerstreet:</strong>
    <%= workorder.CustomerStreet %>
  </p>

  <p>
    <strong>Customeremail:</strong>
    <%= workorder.CustomerEmail %>
  </p>

  <p>
    <strong>Customerzip:</strong>
    <%= workorder.CustomerZIP %>
  </p>

  <p>
    <strong>Customercity:</strong>
    <%= workorder.CustomerCity %>
  </p>

  <p>
    <strong>Customercontactperson:</strong>
    <%= workorder.CustomerContactPerson %>
  </p>

  <p>
    <strong>Customerphone:</strong>
    <%= workorder.CustomerPhone %>
  </p>

  <p>
    <strong>Customerremark:</strong>
    <%= workorder.CustomerRemark %>
  </p>

  <p>
    <strong>Customernameinvoice:</strong>
    <%= workorder.CustomerNameInvoice %>
  </p>

  <p>
    <strong>Customerdebtornrinvoice:</strong>
    <%= workorder.CustomerDebtorNrInvoice %>
  </p>

  <p>
    <strong>Customerstreetinvoice:</strong>
    <%= workorder.CustomerStreetInvoice %>
  </p>

  <p>
    <strong>Customerstreetnoinvoice:</strong>
    <%= workorder.CustomerStreetNoInvoice %>
  </p>

  <p>
    <strong>Customeremailinvoice:</strong>
    <%= workorder.CustomerEmailInvoice %>
  </p>

  <p>
    <strong>Customerzipinvoice:</strong>
    <%= workorder.CustomerZIPInvoice %>
  </p>

  <p>
    <strong>Customercityinvoice:</strong>
    <%= workorder.CustomerCityInvoice %>
  </p>

  <p>
    <strong>Customercontactpersoninvoice:</strong>
    <%= workorder.CustomerContactPersonInvoice %>
  </p>

  <p>
    <strong>Customerphoneinvoice:</strong>
    <%= workorder.CustomerPhoneInvoice %>
  </p>

  <p>
    <strong>Customerremarkinvoice:</strong>
    <%= workorder.CustomerRemarkInvoice %>
  </p>

  <p>
    <strong>Typeofwork:</strong>
    <%= workorder.TypeOfWork %>
  </p>

  <p>
    <strong>Workdescription:</strong>
    <%= workorder.WorkDescription %>
  </p>

  <p>
    <strong>Workinstruction:</strong>
    <%= workorder.WorkInstruction %>
  </p>

  <p>
    <strong>Paymentmethod:</strong>
    <%= workorder.PaymentMethod %>
  </p>

  <p>
    <strong>Creationdate:</strong>
    <%= workorder.CreationDate %>
  </p>

  <p>
    <strong>Employeenr:</strong>
    <%= workorder.EmployeeNr %>
  </p>

  <p>
    <strong>Signature:</strong>
    <%= workorder.Signature %>
  </p>

  <p>
    <strong>Signatureurl:</strong>
    <%= workorder.SignatureUrl %>
  </p>

  <p>
    <strong>Pdfurl:</strong>
    <%= workorder.PdfUrl %>
  </p>

  <p>
    <strong>Wordurl:</strong>
    <%= workorder.WordUrl %>
  </p>

  <p>
    <strong>Worksheetcode:</strong>
    <%= workorder.WorksheetCode %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= workorder.Status %>
  </p>

  <p>
    <strong>Workfinished:</strong>
    <%= workorder.WorkFinished %>
  </p>

  <p>
    <strong>Archived:</strong>
    <%= workorder.Archived %>
  </p>

  <p>
    <strong>Photos:</strong>
    <%= workorder.Photos %>
  </p>

  <p>
    <strong>Workperiods:</strong>
    <%= workorder.Workperiods %>
  </p>

  <p>
    <strong>Materials:</strong>
    <%= workorder.Materials %>
  </p>

  <p>
    <strong>Documents:</strong>
    <%= workorder.Documents %>
  </p>

  <p>
    <strong>Forms:</strong>
    <%= workorder.Forms %>
  </p>

  <p>
    <strong>Employees:</strong>
    <%= workorder.Employees %>
  </p>

  <p>
    <strong>Workobjects:</strong>
    <%= workorder.WorkObjects %>
  </p>

</div>
